
<div id="message">
</div>

<br>
<p>
    <select id="sel_year" class="year-month">
        <option value="2014" <%= "selected" if params[:year]=="2014" -%> >2014</option>
        <option value="2015" <%= "selected" if params[:year]=="2015" -%> >2015</option>
    </select>
    <strong>年</strong>
    <select id="sel_month" class="year-month">
    <% 1.upto(12) do |i| %>
        <option value="<%= i %>" <%= "selected" if params[:month].to_i==i.to_i %> ><%= i %></option>
    <% end %>
    </select>
    <strong>月消費紀錄</strong>
</p>

<br>

<% 
    sum = 0.0 
    day_sum = 0.0
    cls=['warning','']
    i = 0
    last_expended_at = ''
%>

<table class="table table-hover">
    <thead>
    	<tr class="info">
        	<th>分類</th>
			<th>品項</th>
			<th>說明</th>
			<th>價格</th>
            <th>當日總消費</th>
			<th>消費日期</th>
			<th>紀錄時間</th>
      	</tr>
    </thead>

    <tbody>
      	<% @data.each do |row| %>
            <%
                if(last_expended_at != row.expended_at)
                    last_expended_at = row.expended_at
                    i+=1
                    day_sum = 0
                end
            %>

            <% if row.id == @id -%>
            <tr class="danger">
            <% else -%>
        	<tr class="<%= cls[i%2] -%>">
            <% end -%>
          		<td><%= row.category %></td>
				<td><%= row.item %></td>
				<td><%= row.comment %></td>
				<td><%= row.price %></td>
                <% day_sum += row.price  %>
                <td><%= day_sum %></td>
				<td><%= row.expended_at %></td>
				<td><%= row.updated_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
                <% sum += row.price %>
        	</tr>

      	<% end %>
    </tbody>
</table>

<div class="alert alert-info" role="alert">總消費金額 <strong><%= sum %></strong> 元</div>

