
<div class="container-fluid">

	<div class="page-header">
		<h1><strong>記帳本</strong></h1>
	</div>

	<%= form_tag( full_url('money_note/create'), { id: 'record_form', remote: true }) do %>
	<div class="row">
		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon"><strong>分類</strong></span>
				<%= text_field_tag 'category', nil, class: "form-control" %>
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
					<ul id="sel_category" class="dropdown-menu dropdown-menu-right" role="menu"></ul>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon"><strong>品項</strong></span>
				<%= text_field_tag 'item', nil, class: "form-control" %>
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
					<ul id="sel_item" class="dropdown-menu dropdown-menu-right" role="menu"></ul>
				</div>
			</div>
		</div>
	
		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon"><strong>價格</strong></span>
				<%= number_field_tag 'price', nil, class: "form-control" %>
			</div>
		</div>

		<div class="col-xs-3">
			<%= submit_tag "紀錄", class: "btn btn-primary" %>
		</div>

	</div>
	<br>
	<div class="row">
		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon"><strong>說明</strong></span>
				<%= text_field_tag 'comment', nil, class: "form-control" %>
			</div>
		</div>

		

		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon"><strong>日期</strong></span>
				<%= date_field_tag('expended_at', DateTime.now.strftime("%Y-%m-%d"), class: "form-control" )%>
			</div>
		</div>
		
		
	</div>
	<% end %>
	
	<br>
	<br>

	<div class="row">
		<div class="col-xs-4">
			<div id="pie_chart" style="width: 100%; height: 300px;"></div>
		</div>
		<div class="col-xs-8">
			<div id="bar_chart" style="width: 100%; height: 300px;"></div>
		</div>
	</div>

	<br>

	<div id="history"></div>

</div>

<script language="javascript">

var g_items = JSON.parse("<%= @items[:items] %>".replace(/&quot;/g,'"'));
var g_piechart = null;
var g_colchart = null;


$(document).ready(ready);
function ready()
{
	$(document).one( 'page:before-change', unload);
	$(document).on( 'click', '.a_category',  onChangeCategory );
	$(document).on( 'click', '.a_item',  onChangeItem );
	$(document).on( 'change', '.year-month',  onChangeYearMonth );
	$("#record_form").on("ajax:success", onSubmitSuccess);
	$("#record_form").on("ajax:error", onSubmitError);
 	$("#record_form").on("ajax:before", onBeforeSubmit);
	
	refreshCategory();

	var d = new Date();
	$.get( "<%= full_url '/money_note/history/' %>" + d.getFullYear() + '/' + (d.getMonth()+1) , refreshTable );
	$.get( "<%= full_url '/money_note/rate/' %>" + d.getFullYear() + '/' + (d.getMonth()+1)+'.json' , refreshRate );
}


function onChangeYearMonth()
{
	var url1 = "<%= full_url '/money_note/history/' %>"+ $('#sel_year option:selected').val() + '/' + $('#sel_month option:selected').val();
	$.get(url1, refreshTable);

	var url2 = "<%= full_url '/money_note/rate/' %>"+ $('#sel_year option:selected').val() + '/' + $('#sel_month option:selected').val() + '.json';
	$.get(url2, refreshRate);
	console.log( url2 );
}

function refreshRate(data)
{
	console.log( 'refreshRate' );
	g_piechart.dataProvider = data;
	g_piechart.write("pie_chart");
	g_piechart.validateData();

	g_colchart.dataProvider = data;
	g_colchart.write("bar_chart");
	g_colchart.validateData();
}


function refreshTable(table)
{
	$('#history').html(table);
}

function generate_message(msg)
{
	return [
		'<div class="alert alert-danger alert-dismissible" role="alert">',
  		'<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>',
  		'<strong>',
  		msg,
  		'</strong>',
  		'</div>'
	].join('');
}

function onBeforeSubmit()
{
	//console.log("onBeforeSubmit");
	if( $('#category').val().trim()=="" )
	{
		$('#message').html( generate_message("分類不可為空白") );
		return false;
	}
	
	if( $('#item').val().trim()=="" )
	{
		$('#message').html( generate_message("品項不可為空白") );
		return false;
	}

	if( $('#price').val().trim()=="" )
	{
		$('#message').html( generate_message("價格不可為空白") );
		return false;
	}

	return true;
}


function onSubmitSuccess(e, data, status, xhr)
{
	var category = $('#category').val(); 
	var item = $('#item').val();

	if(!( category in g_items ) )
		g_items[category] = new Object();

	g_items[category][item] = '';

	refreshCategory();
	$('#item').val('');
	$('#price').val('');
	$('#comment').val('');
	refreshTable(data);
	onChangeYearMonth();

	$.post(
		"<%= full_url '/money_note/items' %>",
	 	{ data: JSON.stringify( g_items )} ,
	 	function(msg){ console.log(msg); }  
	);
}


function onSubmitError(e, xhr, status, error)
{
	console.log(error);
}


function unload()
{
	$(document).off( 'click', '.a_category');
	$(document).off( 'click', '.a_item');
}


function onChangeCategory()
{
	var c = $(this).text();
	//console.log( c );
	refreshItem(c);
	$('#category').val(c);
	$('#item').val('');
}


function onChangeItem()
{
	var item = $(this).text();
	$('#item').val(item);
}


function refreshCategory()
{
	$('#sel_category').html('');
	for(var category in g_items)
		$('#sel_category').append( '<li><a class="a_category" hrep="#">'+ category + '</a></li>' );
}


function refreshItem(category)
{
	//console.log( category );
	$('#sel_item').html('');

	if(!(category in g_items))
		return;

	for(var item in g_items[category] )
		$('#sel_item').append( '<li><a class="a_item" hrep="#">'+ item + '</a></li>' );
}

AmCharts.ready(function () {
    // PIE CHART
    g_piechart = new AmCharts.AmPieChart();
    //g_piechart.dataProvider = chartData;
    g_piechart.titleField = "category";
    g_piechart.valueField = "sum_price";
    g_piechart.outlineColor = "#FFFFFF";
    g_piechart.outlineAlpha = 0.8;
    g_piechart.outlineThickness = 2;
    g_piechart.balloonText = "[[category]]<br><span style='font-size:14px'><b>[[sum_price]]</b> ([[percents]]%)</span>";
    // this makes the chart 3D
    g_piechart.depth3D = 5;
    g_piechart.angle = 30;
    g_piechart.pieBaseColor = '#B4CFEC';
    g_piechart.pieBrightnessStep = -5;
    g_piechart.color  = '#808080'; // text's color
    // WRITE
    //g_piechart.write("chartdiv");
});


AmCharts.ready(function () {
    // SERIAL CHART
    g_colchart = new AmCharts.AmSerialChart();
    //g_colchart.dataProvider = chartData;
    g_colchart.categoryField = "category";
    // the following two lines makes chart 3D
    g_colchart.depth3D = 20;
    g_colchart.angle = 30;

    // AXES
    // category
    var categoryAxis = g_colchart.categoryAxis;
    categoryAxis.labelRotation = 90;
    categoryAxis.dashLength = 5;
    categoryAxis.gridPosition = "start";
    categoryAxis.axisColor = "#C0C0C0"; // horizontal's color
    categoryAxis.color = '#808080'; // category's color

    // value
    var valueAxis = new AmCharts.ValueAxis();
    valueAxis.title = "總金額";
    valueAxis.dashLength = 5;
    valueAxis.axisColor = "#C0C0C0"; // horizontal's color
    valueAxis.color = '#808080'; // category's color
    valueAxis.titleColor = '#808080';

    g_colchart.addValueAxis(valueAxis);

    // GRAPH
    var graph = new AmCharts.AmGraph();
    graph.valueField = "sum_price";
    graph.colorField = "color";
    graph.balloonText = "<span style='font-size:14px'>[[category]]: <b>[[sum_price]]</b>元</span>";
    graph.type = "column";
    graph.lineAlpha = 0;
    graph.fillAlphas = 1;
    graph.fillColors = ['#B4CFEC','#C2DFFF'];

    
    g_colchart.addGraph(graph);

    // CURSOR
    var chartCursor = new AmCharts.ChartCursor();
    chartCursor.cursorAlpha = 0;
    chartCursor.zoomable = false;
    chartCursor.categoryBalloonEnabled = false;
    g_colchart.addChartCursor(chartCursor);

    g_colchart.creditsPosition = "top-right";

    // WRITE
    //g_colchart.write("chartdiv");
});

</script>
