<div class="container-fluid">
  	<div class="page-header">
    	<h1>使用統計</h1>
	</div>

	<div class="row">
		
		<div class="col-md-3">
			<table class="table table-hover table-striped">
			    <thead>
			    	<tr>
			        	<th>最常使用路徑</th>
			      	</tr>
			    </thead>

			    <tbody>
			      	<% @count_path.each do |row| %>
			        	<tr>
			          		<td><%= row.path %>&nbsp;&nbsp;<span class="badge"><%= row.count %></span></td>
			        	</tr>
			      	<% end %>
			    </tbody>
			</table>
		</div>

		<div class="col-md-3">
			<table class="table table-hover table-striped">
			    <thead>
			    	<tr>
			        	<th>最常登入IP</th>
			      	</tr>
			    </thead>

			    <tbody>
			      	<% @count_ip.each do |row| %>
			        	<tr>
			          		<td>
			          			<%= row.ip %>&nbsp;&nbsp;
			          			<span class="badge"><%= row.count %></span>
								<% unless row.name.blank? -%>
									<br>
									<%= row.name %>
								<% end -%>
			          			<br>
			          		</td>
			        	</tr>
			      	<% end %>
			    </tbody>
			</table>
		</div>

		<div class="col-md-3">
			<table class="table table-hover table-striped">
			    <thead>
			    	<tr>
			        	<th colspan="2">IP擁有者</th>
			      	</tr>
			    </thead>

			    <tbody>
			      	<% @ipowner.each do |row| %>
			        	<tr>
			          		<td><%= row.name %></td>
			          		<td><%= row.ip %></td>
			        	</tr>
			      	<% end %>
			    </tbody>
			</table>
		</div>

	</div>

</div>
