<div class="container-fluid">

	<div class="page-header">
		<h1>Movie <small> reminder</small></h1>
	</div>

	<div class="row">
		<div class="col-md-6">
			<%= form_tag action: "index" do %>
				<div class="input-group">
				  	<span class="input-group-btn">
						<select class="form-control" id="sel_movies" >
							<option value="">請選擇你想追蹤的電影時刻</option>
					  		<% @schedules.each do |row| %>
					  			<option value="<%= row.movie_id %>"><%= row.name %></option>
					  		<% end %>
						</select>
					</span>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" id="btn_pin" >
							<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
						</button>
					</span>
				</div>
			<% end %>
			<a class="fancybox fancybox.ajax" id="new_movies_reminder" href="<%= full_url '/movie/reserve' %>" >
				預約未上檔電影
			</a>
		</div>
	</div>

	<% unless @new_movies.size == 0%>
		<br>
		<div class="alert alert-warning alert-dismissible" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		電影&nbsp<strong><%= @new_movies.join(',') %></strong>&nbsp已經上檔
		</div>
	<% end %>

	<br>
	<br>
	<div class="row">
		<ul class="nav nav-tabs" id="tabs_movies">
		</ul>
	</div>
	<br>
	
	<div id="div_schedule">
	</div>
</div>


<script language="javascript">

$(document).ready(ready);
function ready()
{console.log(arguments.callee.name);

	$(document).one( 'page:before-change', unload);
	
	$(document).on( 'click', 'a.cls-tab',  onClickTab );
	$(document).on( 'click', 'span.glyphicon-remove',  onClickRemove );
	$(document).on( 'click', '#btn_pin',  onClickPin );

	<% @movies.each do |row| %>
	$('#tabs_movies').append( generate_tab("<%= row.movie_id %>" , "<%= row.name %>" ) );
	<% end %>

	$('a.cls-tab').first().trigger('click');


	$("#new_movies_reminder").fancybox({
        parent      : 'body',
        //maxWidth    : 400,
        //maxHeight   : 300,
        fitToView   : false,
        //width       : '70%',
        //height      : 'auto',
        autoSize    : true,
        closeClick  : false,
        openEffect  : 'none',
        closeEffect : 'none'
    });
}


function unload()
{
	$(document).off( 'click', 'a.cls-tab');
	$(document).off( 'click', 'span.glyphicon-remove');
	$(document).off( 'click', '#btn_pin');
}


var g_removeFlag = false; // bad way :(
function onClickRemove()
{console.log(arguments.callee.name);
	g_removeFlag = true;
}


function onClickTab()
{console.log(arguments.callee.name);

	var id = $(this).prop('id');
	var name = $(this).text();

	if( g_removeFlag )
	{
		g_removeFlag = false;
		$(this).parents('li').remove();
		$('a.cls-tab').first().trigger('click');

		$.ajaxSetup({headers: { "X-CSRF-Token": $('meta[name="csrf-token"]').attr('content') }  });
		$.post( '<%= full_url "/movie/delete" %>', { id: id, name: name },  function( d ) {console.log( d );});
	}
	else
	{
		g_removeFlag = false;
		$('.cls-tab').each(function(index){ $(this).parent().removeClass('active') });
	  	$(this).parent().addClass( "active" );
	  	$.get(
	  		'<%= full_url "/movie/schedule/" %>'+id, 
	  		function(d)
	  		{ 
	  			$('#div_schedule').css('display','none');
	  			$('#div_schedule').html(d);
	  			$('#div_schedule').fadeIn( 1000 );
	  		}
	  	);
  	}
}


function onClickPin()
{
	var id = $( "#sel_movies option:selected" ).val();
	var name = $( "#sel_movies option:selected" ).text();
	if(id=="")
		return;
	
	if( $('#'+id).length==0 )
	{
		$('#tabs_movies').append( generate_tab(id,name) );

		$.ajaxSetup({headers: { "X-CSRF-Token": $('meta[name="csrf-token"]').attr('content') }  });
		$.post( '<%= full_url "/movie/create" %>', { id: id, name: name },  function( d ) {console.log( d );});
	}
	
	$('#'+id).trigger('click');	
}


function generate_tab(id, name)
{
	return [
		'<li role="presentation">',
			'<a href="#" class="cls-tab" id="'+ id +'" >',
				name+'&nbsp',
				'<span class="glyphicon glyphicon-remove"></span>',
			'</a>',
		'</li>'
	].join('');
}

</script>
