


<div class="container-fluid">
    <div class="page-header">
        <h1>
            <%= params[:type]=='superlottos' ? '威力彩各期獎號' : '大樂透各期獎號' %>
            <small><%= params[:type]=='superlottos' ? '(每周一四開獎)' : '(每周二五開獎)' %></small>
        </h1>
    </div>
  
    <%= kaminari_with_dropdown(@data) %>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>期別</th>
                <th colspan="6">一般號</th>
                <th>特別號</th>
                <th>開獎日</th>
                <th>下載時間</th>
            </tr>
        </thead>

        <tbody>
            <% @data.each do |row| %>
                <tr>
                    <td><%= row.term %></td>
                    <td><%= row.no1 %></td>
                    <td><%= row.no2 %></td>
                    <td><%= row.no3 %></td>
                    <td><%= row.no4 %></td>
                    <td><%= row.no5 %></td>
                    <td><%= row.no6 %></td>
                    <td><%= row.special %></td>
                    <td><%= row.announced_at %></td>
                    <td><%= row.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= kaminari_with_dropdown(@data, dropdown: false) %>
</div>